Django<3.3
sentry-sdk<1.2.0

pycryptodome>=3.4.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.20 # not directly required, pinned by Snyk to avoid a vulnerability
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability