{% load dajaxice_templatetags %}
<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Pocket Skipper - Skip Pocket's Article View and Get Straight to the Original</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
	    
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	{% dajaxice_js_import %}
	
	<link rel="stylesheet" href="css/style.css">
        
	<script>
	    
	    function mark_as_read(what)
	    {
		_gaq.push(['_trackEvent', "Mark As Read", 'clicked', ""]);
		
		//Update the image to a spinner and change text:
		var whole_div = $("#div_" + what.id);
		whole_div.find("img").attr("src", "/img/spinner.gif");
		whole_div.find(".mark_as_read_text").text("Marking");
		
		Dajaxice.theapp.mark_as_read(post_mark, {"item_id" : what.id});
	    }
	    
	    function post_mark(data)
	    {
		var whole_div = $("#div_" + data.id);
		if (data.error)
		{
		    _gaq.push(['_trackEvent', "Failed marking as read", 'clicked', ""]);
		    alert("Problem marking item as read. Try again later.\n" + data.error);
		    //Return everything to starting state:
		    whole_div.find("img").attr("src", "/img/tick.png");
		    whole_div.find(".mark_as_read_text").text("Mark As Read");
		    return;
		}
		
		//Create the awesome crossing out animation
		whole_div.find(".st_line").css("width", "100%");
		whole_div.find("a").animate({"color" : "red"}, 750, function(){
			whole_div.fadeOut();		    
		    });
	    }
	    
	    
	    function title_hover()
	    {
		$(this).parents(".item").find(".mark_as_read_image").css("background-image", 'url("/img/skipper_red.png")');
		$(this).parents(".item").find(".item_title").css("background-color", '#BFFFBA');
	    }
	    
	    function title_unhover()
	    {
		$(this).parents(".item").find(".mark_as_read_image").css("background-image", 'url("/img/skipper_green.png")');
		$(this).parents(".item").find(".item_title").css("background-color", '#fff9ed');
	    }
	    
	    $(function() {
		$(".item_title").hover(title_hover, title_unhover);
		$(".mark_as_read_image").hover(title_hover, title_unhover);
	    });
	    
	</script>
	
	<script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-36750334-1']);
	    _gaq.push(['_trackPageview']);
	  
	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	  
	</script>
	
</head>
<body>
    
    <span id="title">Pocket Skipper.</span>
    <div id="welcome">
        An alternate <a href="http://getpocket.com">Pocket</a> (Read it later) reading list that takes you to the actual article on the first
	click (instead of Pocket's "article view"). Made with love by <a href="https://twitter.com/msveder">@msveder</a>
    </div>
    
    
    
    <div id="items">
        {% for item in items %}
		<div class="item" id='div_{{ item.item_id }}'>
		    
		    {% if not forloop.first %}
			<div class="arrow_wrapper">
			    <div class="arrow up_arrow"></div>
			</div>
		    {% endif %}
		    
		    <span class="st_line_wrap">
			<span class="st_line"></span>
			<div class="item_title">
			    <a href="{{ item.given_url }}" target="_blank">{{ item.fool_proof_title }}</a>
			</div>
		    </span>
		    
		    <div class="mark_as_read_span" id="{{ item.item_id }}" onclick="mark_as_read(this);">
			<div class="mark_as_read_image"></div>
			<!--<span class="mark_as_read_text">Mark As Read</span>-->
		    </div>
		    
		    {% if not forloop.last %}
			<div class="arrow_wrapper">
			    <div class="arrow down_arrow"></div>
			</div>
		    {% endif %}
		    
		</div>
	    
        {% endfor %}
        
    </div>
    
    
    
    <div class="fav">
	Don't forget to add this to favourites for future use (Press CTRL-D).
    </div>
  
</body>
</html>

